* {
    /* line-height:0; */
    /* margin: 0; */
    /* padding: 0; */
}

body {
    overflow: hidden;
}

.font_size {
    font-family: "Arial Black";
    font-size: 200px;
    color: #3300DA;
    padding-left: 380px;
    padding-bottom: 150px;
}

#rotation_button {
    border: none;
    border-radius: 0.5rem;
    /* 角丸       */
    font-size: 2rem;
    /* 文字サイズ */
    text-align: center;
    /* 文字位置   */
    cursor: pointer;
    /* カーソル   */
    padding: 1.5% 1.8%;
    /* 余白       */
    background: rgba(55, 0, 255);
    /* 背景色     */
    color: #ffffff;
    /* 文字色     */
    line-height: 100%;
    /* 1行の高さ  */
    transition: .3s;
    /* なめらか変化 */
    font-weight: bold;
    letter-spacing: 0.4rem;
    width: 20%;
    position: relative;
    z-index: 30;
    left: 105rem;
    width: 15rem;
    padding: 1rem;
    /* top: 8rem; */
    box-shadow: 0.5rem 0.5rem 0 0 rgba(0, 0, 0, 0.5);
}

#rotation_button:active {
    background-color: rgb(75, 177, 245);
    -webkit-transform: translateY(0.5rem);
    transform: translateY(0.5rem);
    border-bottom: none;
}

h1 {
    float: left;
    position: relative;
    left: 35rem;
    top: 1rem;
    font-size: 3rem;
}

#experience_bar {
    clear: both;
    float: left;
    position: relative;
    left: 19.5rem;
    top: -7rem;
    font-size: 2rem;
}

#generation_bar {
    float: left;
    position: relative;
    left: 55rem;
    top: -7rem;
    font-size: 2rem;
}

#experience_change {
    clear: both;
    float: left;
    position: relative;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    outline: none;
    height: 1rem;
    width: 45rem;
    background: #a6a6aa;
    border-radius: 1rem;
    border: solid 0.08rem black;
    position: relative;
    top: -8rem;
    left: 3rem;
    z-index: 10;
}

#generation_change {
    float: left;
    position: relative;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    outline: none;
    height: 1rem;
    width: 45rem;
    background: #a6a6aa;
    border-radius: 1rem;
    border: solid 0.08rem black;
    position: relative;
    top: -9.2rem;
    left: 55rem;
    z-index: 10;
}

#wrap1 p {
    clear: both;
    position: relative;
    float: none;
    height: 0rem;
    width: 100%;
    color: rgb(255, 255, 255);
    top: -10.4rem;
    left: 14.5rem;
    letter-spacing: 10.2rem;
    box-sizing: border-box;
    font-size: 0.7rem;
    font-weight: bold;
    z-index: 10;
}

#wrap2 p {
    position: relative;
    float: left;
    height: 0rem;
    width: 100%;
    color: rgb(255, 255, 255);
    top: -11.8rem;
    left: 66rem;
    letter-spacing: 10.5rem;
    box-sizing: border-box;
    font-size: 0.7rem;
    font-weight: bold;
    z-index: 10;
}

#wrapping1 p {
    clear: both;
    float: none;
    position: relative;
    top: -10rem;
    left: 1rem;
    width: 10.5rem;
    display: inline-flex;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 0rem;
}

#wrapping2 p {
    float: none;
    position: relative;
    top: -12.3rem;
    left: 53rem;
    width: 10.5rem;
    display: inline-flex;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 0rem;
}


::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: rgb(55, 0, 255);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    z-index: 30;
}

#name p {
    clear: both;
    position: relative;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0rem;
}

#my_data {
    position: relative;
    float: left;
    left: 14rem;
    top: -9rem;
}

#other_data {
    position: relative;
    float: left;
    left: 54rem;
    top: -12.5rem;
}

#comparison_data {
    position: relative;
    float: left;
    left: 94rem;
    top: -16.5rem;
}

/* #court { */
/* position: relative; */
/* border: 0.1rem solid #ccc; */
/* width: 41rem; */
/* height: 41rem; */
/* max-width: 100%; */
/* top:-0.5rem; */
/* margin:auto; */
/* } */
/*  */
/* canvas { */
/* clear: both; */
/* position: relative; */
/* left: 8rem; */
/* top: 5rem; */
/* margin: 0.5rem; */
/* background-image: url("../Picture/バレーコート背景.png"); */
/* background-size: 100%; */
/* } */
/*  */
/* .my, .my2, .my3{ */
/* clear: both; */
/* position: relative; */
/* margin-left: auto; */
/* margin-right: auto; */
/* } */
/*  */
/* .other { */
/* margin-left: auto; */
/* margin-right: auto; */
/* } */
/*  */
/* .comprison { */
/* margin-left: auto; */
/* margin-right: auto; */
/* } */

/* #all_canvas{ */
/* display: flex; */
/* } */

#my_court {
    clear: both;
    float: left;
    position: relative;
    border: 0.1rem solid #ccc;
    width: 38rem;
    height: 38rem;
    max-width: 100%;
    top: -15rem;
    left: 3rem;
    margin: 0;
}

#court:before {
    content: "";
    display: block;
    /* padding-top: 58%; */
}

#my,
#my2,
#my3 {
    float: left;
    position: absolute;
    left: 0;
    top: 0;
    border: 0;
    max-width: 100%;
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}

#my3 {
    z-index: 0;
    background-image: url("../Picture/バレーコート背景.png");
    background-size: cover;
}

#my2 {
    z-index: 1;
}

#my {
    z-index: 2;
}

* {
    box-sizing: border-box;
}

#other_court {
    clear: both;
    float: left;
    position: relative;
    border: 0.1rem solid #ccc;
    width: 38rem;
    height: 38rem;
    max-width: 100%;
    top: -53rem;
    left: 43rem;
    margin: 0;
}

#other_court:before {
    content: "";
    display: block;
    /* padding-top: 58%; */
}

#other,
#other2,
#other3 {
    float: left;
    position: absolute;
    left: 0;
    top: 0;
    border: 0;
    max-width: 100%;
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}

#other3 {
    z-index: 0;
    background-image: url("../Picture/バレーコート背景.png");
    background-size: cover;
}

#other2 {
    z-index: 1;
}

#other {
    z-index: 2;
}

* {
    box-sizing: border-box;
}

#comparison_court {
    clear: both;
    float: left;
    position: relative;
    border: 0.1rem solid #ccc;
    width: 38rem;
    height: 38rem;
    max-width: 100%;
    top: -91rem;
    left: 83rem;
    margin: 0;
}

#comparison_court:before {
    content: "";
    display: block;
    /* padding-top: 58%; */
}

#comparison1,
#comparison2,
#comparison3 {
    float: left;
    position: absolute;
    left: 0;
    top: 0;
    border: 0;
    max-width: 100%;
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}

#comparison3 {
    z-index: 0;
    background-image: url("../Picture/バレーコート背景.png");
    background-size: cover;
}

#comparison2 {
    z-index: 1;
}

#comparison {
    z-index: 2;
}

* {
    box-sizing: border-box;
}

#range p {
    clear: both;
    position: relative;
    display: inline-flex;
    left: 5rem;
    top: 35rem;
    width: 32%;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0rem;
}