body {
    height          : 100%;
    width           : 100%;
}
#container{
    margin          :0 auto;
    width           :100%;
    display         :relative;
}
.bg-image{
    position        : relative;
    height          : 100%;
}
.back{
    position        : relative;
    height          : 100%;
    margin          : 0 auto;
    top             : -0.1rem;
    z-index         : 0;
}
.box{
    position        : absolute;
    top             : 17.8rem;
    left            : 25rem; 
}
.rogo{
    z-index         : 30;
}
.buttons{
    position        : absolute;
    width           : 100%;
    top             : 42.8rem;
    left            : 20rem;
}
/* 客観的クイズ */
.btn1 {
    border          : none;
    border-radius   : 0.5rem;          /* 角丸       */
    font-size       : 1.5rem;        /* 文字サイズ */
    text-align      : center;      /* 文字位置   */
    cursor          : pointer;     /* カーソル   */
    padding         : 1.5% 1.8%;   /* 余白       */
    background      : rgba(55, 0, 255, 0.90);     /* 背景色     */
    color           : #ffffff;     /* 文字色     */
    line-height     : 3em;         /* 1行の高さ  */
    transition      : .3s;         /* なめらか変化 */
    font-weight     : bold;
    letter-spacing  : 0.4rem;
    width           : 25rem;
    position        : absolute;
    left            : -5rem;
    box-shadow      : 0.2rem 0.2rem 0 0 rgba(0,0,0,0.5);
}

/* 配置シミュレーション */
.btn2 {
    border          : none;
    border-radius   : 0.5rem;          /* 角丸       */
    font-size       : 1.5rem;        /* 文字サイズ */
    text-align      : center;      /* 文字位置   */
    cursor          : pointer;     /* カーソル   */
    padding         : 1.5% 1.8%;   /* 余白       */
    background      : rgba(55, 0, 255, 0.90);     /* 背景色     */
    color           : #ffffff;     /* 文字色     */
    line-height     : 3em;         /* 1行の高さ  */
    transition      : .3s;         /* なめらか変化 */
    font-weight     : bold;
    letter-spacing  : 0.4rem;
    width           : 25rem;
    position        : absolute;
    left            : 27.9rem;
    box-shadow      : 0.2rem 0.2rem 0 0 rgba(0,0,0,0.5);
}

/* 集合知との比較 */
.btn3 {
    border          : none;
    border-radius   : 0.5rem;          /* 角丸       */
    font-size       : 1.5rem;        /* 文字サイズ */
    text-align      : center;      /* 文字位置   */
    cursor          : pointer;     /* カーソル   */
    padding         : 1.5% 1.8%;   /* 余白       */
    background      : rgba(55, 0, 255, 0.90);     /* 背景色     */
    color           : #ffffff;     /* 文字色     */
    line-height     : 3em;         /* 1行の高さ  */
    transition      : .3s;         /* なめらか変化 */
    font-weight     : bold;
    letter-spacing  : 0.4rem;
    width           : 25rem;
    position        : absolute;
    left            : 61.5rem;
    box-shadow      : 0.2rem 0.2rem 0 0 rgba(0,0,0,0.5);
}

.btn1:active{
    background-color: rgb(75, 177, 245);
    -webkit-transform: translateY(0.1rem);
    transform: translateY(0.1rem);
    border-bottom: none;
  }
.btn2:active{
    background-color: rgb(75, 177, 245);
    -webkit-transform: translateY(0.1rem);
    transform: translateY(0.1rem);
    border-bottom: none;
  }
.btn3:active{
    background-color: rgb(75, 177, 245);
    -webkit-transform: translateY(0.1rem);
    transform: translateY(0.1rem);
    border-bottom: none;
  }