#canvas_warp {
  position: relative;
  border: 1px solid #ccc;
  width: 500px;
  height: 500px;
  max-width: 100%;
}
#canvas_warp:before {
  content: "";
  display: block;
  padding-top: 58%;
}
#canvas2,
#canvas3 {
  position: absolute;
  left: 0;
  top: 0;
  border: 0;
  max-width: 100%;
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}
#canvas2 {
  z-index: 0;
  background-image: url("../Picture/バレーコート背景.png");
  background-size: cover;
}
#canvas3 {
  z-index: 1;
}

* {
  box-sizing: border-box;
}

#under_canvas_warp {
  position: relative;
  border: 1px solid #ccc;
  width: 120px;
  height: 120px;
  top: 20px;
  max-width: 100%;
}
#under_canvas {
  left: 0;
  top: 700px;
  border: 0;
  max-width: 100%;
  box-sizing: content-box;
  padding: 0;
  margin: 0;
  background-image: url("../Picture/バレーコート背景.png");
  background-size: 100%;
}

#under_canvas2 {
  left: 140px;
  top: 700px;
  border: 0;
  max-width: 100%;
  box-sizing: content-box;
  padding: 0;
  margin: 0;
  background-image: url("../Picture/バレーコート背景.png");
  background-size: 100%;
}

#under_canvas3 {
  left: 280px;
  top: 700px;
  border: 0;
  max-width: 100%;
  box-sizing: content-box;
  padding: 0;
  margin: 0;
  background-image: url("../Picture/バレーコート背景.png");
  background-size: 100%;
}

#under_canvas4 {
  left: 280px;
  top: 700px;
  border: 0;
  max-width: 100%;
  box-sizing: content-box;
  padding: 0;
  margin: 0;
  background-image: url("../Picture/バレーコート背景.png");
  background-size: 100%;
}

#under_canvas5 {
  left: 280px;
  top: 700px;
  border: 0;
  max-width: 100%;
  box-sizing: content-box;
  padding: 0;
  margin: 0;
  background-image: url("../Picture/バレーコート背景.png");
  background-size: 100%;
}

#under_canvas6 {
  left: 280px;
  top: 700px;
  border: 0;
  max-width: 100%;
  box-sizing: content-box;
  padding: 0;
  margin: 0;
  background-image: url("../Picture/バレーコート背景.png");
  background-size: 100%;
}

#input-range {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  height: 14px;
  width: 20%;
  background: #7c00ba;
  border-radius: 10px;
  border: solid 3px #7c00ba;
  position: absolute;
  right: 200px;
  top: 150px;
}

#rotation_button {
  border-radius: 10px;
  background-color: #7c00ba;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  position: absolute;
  right: 250px;
  top: 250px;
}

#register_btn {
  border-radius: 10px;
  background-color: #7c00ba;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  position: absolute;
  right: 100px;
  top: 250px;
}
