#canvas_warp {
    position: relative;
    border: 1px solid #ccc;
    width: 1000px;
    max-width: 100%;
  }
  #canvas_warp:before {
    content: "";
    display: block;
    padding-top: 58%;
  }
  #canvas2,
  #canvas3 {
    position: absolute;
    left: 0;
    top: 0;
    border: 0;
    max-width: 100%;
    box-sizing: content-box;
    padding: 0;
    margin: 0;
  }
  #canvas2 {
    z-index: 0;
  }
  #canvas3 {
    z-index: 1;
  }
  
  .btn4{
    border-radius: 10px;
    background-color: #7C00BA;
    padding-left:60px;
    padding-right:60px;
    padding-top:30px;
    padding-bottom:30px;
    text-decoration:none;
    color:white;
    font-size:40px;
    position:absolute;
    right:100px;
    top:550px;
    }