#container{
  width       : 100%;
  height      : 100%;
  max-width   : 2000px;
  max-height  : 1500px;
  margin      : 0 auto;
  margin-top  : 0.5rem;
}

/* ======================================================================================= */
 /* =================================経験年数選択画面===================================== */
/* ======================================================================================= */
/* === 文字「経験年数選択バー」 ==================================== */
#ex{
  position    : relative;
  top         : 3rem;
}
.ex_question{
  position    : relative;
  top         : 5.5rem;
  font-size   : 1.2rem;
  font-weight : bold;
}

/* === 経験年数：決定ボタンに表示されるチェックマーク ==================================== */
.icon-check{
    color            : rgb(255, 255, 255);
    position         : absolute;
    margin-left      : -3rem;
    margin-top       : 4.85rem;
    width            : 1.7rem;
    height           : 0.9rem;
    border-bottom    : solid 0.3rem currentColor;
    border-left      : solid 0.3rem currentColor;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    z-index          : 30;
}

/* === 経験年数：決定ボタン ==================================== */
#button-check{
    display       : inline-block;
    border        : none;
    border-radius : 0.5rem;          /* 角丸       */
    font-size     : 1.5rem;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 1.5% 1.8%;   /* 余白       */
    background    : rgba(55, 0, 255, 0.89);     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    transition    : .3s;         /* なめらか変化 */ 
    font-weight   : bold;
    width         : 20%;
    position      : relative;
    top           : 4rem;
}

/* === バックグランド ============================== */
.modalNoDisp {
    display : none;
  }

.modalBg {
    position   : fixed;
    overflow   : hidden;
    top        : 0;
    right      : 0;
    bottom     : 0;
    left       : 0;
    background : radial-gradient(circle at 50% 50%,
                                 rgba(0, 0, 0, 0.90),
                                 rgba(0, 0, 0, 0.70));
    z-index    : 10;
  }
  
/* === バックグランド：OPEN時のアニメーション ====== */
.modalBgOpen {
    animation  : bgOpenAnime 0.3s ease;
  }
  @keyframes bgOpenAnime {/* フェードイン */
     0% { opacity: 0 }
   100% { opacity: 1 }
  }
  
/* === モーダルウインドウ ==================================== */
.modalBg .modalWindow {
    position      : absolute;
    top           : 50%;
    left          : 50%;
    transform     : translate(-50%, -50%);
    z-index       : 11;
    width         : 45rem;
    min-height    : 25rem;
    background    : #fff;
    border-radius : 1rem;
    font-size     : 1.2rem;
    text-align    : center;
  }

/* === スライダー ==================================== */
input[type=range].slider {
  -webkit-appearance: none;
  width             : 100%;
  margin            : 0.7px 0;
}

/* === スライダーバー ==================================== */
input[type=range].slider::-webkit-slider-runnable-track {
  width         : 100%;
  height        : 1rem;
  border        : 5rem;
  border-color  :black;
  cursor        : pointer;
  background    : #a6a6aa;
  border-radius : 2rem;
  position      : relative;
  top           : 5.5rem;
  left          : -0.3rem;
  border        : 0.1rem solid;
}
/* === スライダーつまみ ==================================== */
input[type=range].slider::-webkit-slider-thumb {
  -webkit-appearance   : none;
  appearance           : none;
  cursor               : pointer;
  position             : relative;
  width                : 1.5rem;
  height               : 1.5rem;
  display              : block;
  background           : rgb(55, 0, 255);
  border-radius        : 50%;
  -webkit-border-radius: 50%;
  margin-top           : -0.33rem;
  z-index              : 30;
}
/* === スライダー目盛り ==================================== */
#wrap p{
  position       : relative;
  float          : none;
  height         : 1rem;
  width          : 100%;
  color          : rgb(255, 255, 255);
  top            : 3.98rem;
  left           : 3.2rem;
  letter-spacing : 7rem;
  box-sizing     : border-box;
  font-size      : 0.8rem;
  font-weight    : bold;
  z-index        : 20;
}

/* === スライダーラベル ==================================== */
#wrapping p{
  float       : none;
  position    : relative;
  top         : 3rem;
  left        : 2rem;
  width       : 8rem;
  display     : inline-flex;
  font-size   : 0.9rem;
  font-weight : bold;
  text-align  : center;
}


/* ======================================================================================= */
 /* ======================================キャンバス====================================== */
/* ======================================================================================= */
#canvas_warp {
  position: relative;
  border: 0.1rem solid #ccc;
  width: 41rem;
  height: 41rem;
  max-width: 100%;
  top:-0.5rem;
  margin:auto;
}

#canvas_warp:before {
  content: "";
  display: block;
  /* padding-top: 58%; */
}

#canvas2,
#canvas1,
#canvas3 {
  position: absolute;
  left: 0;
  top: 0;
  border: 0;
  max-width: 100%;
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}

#canvas2 {
  z-index: 0;
  background-image: url("../Picture/バレーコート背景.png");
  background-size: cover;
}

#canvas1 {
  z-index: 1;
}

#canvas3 {
  z-index: 2;
}

* {
  box-sizing: border-box;
}


#inst{
  text-align: center;
}

  /* 横に並べる */
.under_canvas_warp {
  display: flex;
  position: relative;
  justify-content:space-between;
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin-top:0.5rem;
}

#under_canvas {
  border: 0;
  width: 100%;
  box-sizing: content-box;
  padding: 0;
  background-image: url("../Picture/バレーコート背景.png");
  background-size: 100%;
}

.col-10{
  border: 0.1rem solid;
  border-color: #cbcee4;
}


/* #under_canvas,
#under_canvas1 {
  position: absolute;
  left: 0;
  top: 0;
  border: 0;
  max-width: 100%;
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}

#under_canvas {
  z-index: 0;
  background-image: url("../Picture/バレーコート背景.png");
  background-size: 100%;
}

#under_canvas {
  z-index: 1;
} */

#under_canvas2 {
  border: 0;
  width: 100%;
  box-sizing: content-box;
  padding: 0;
  background-image: url("../Picture/バレーコート背景.png");
  background-size: 100%;
}

#under_canvas3 {
  border: 0;
  width: 100%;
  box-sizing: content-box;
  padding: 0;
  background-image: url("../Picture/バレーコート背景.png");
  background-size: 100%;
}

#under_canvas4 {
  border: 0;
  width: 100%;
  box-sizing: content-box;
  padding: 0;
  background-image: url("../Picture/バレーコート背景.png");
  background-size: 100%;
}

#under_canvas5 {
  border: 0;
  width: 100%;
  box-sizing: content-box;
  padding: 0;
  background-image: url("../Picture/バレーコート背景.png");
  background-size: 100%;
}

#under_canvas6 {
  border: 0;
  width: 100%;
  box-sizing: content-box;
  padding: 0;
  background-image: url("../Picture/バレーコート背景.png");
  background-size: 100%;
}

#subject_object {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  height: 14px;
  width: 30%;
  background: #a6a6aa;
  border-radius: 10px;
  border: solid 0.08rem black;
  position: absolute;
  right: 16.5rem;
  top: 23rem;
  z-index:10;
}
::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: rgb(55, 0, 255);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  z-index: 30;
}
#change_bar{
  text-align: center;
}
#wrap2 p{
  position       : relative;
  float          : none;
  height         : 1rem;
  width          : 100%;
  color          : rgb(255, 255, 255);
  top            : 1.34rem;
  left           : 15.5rem;
  letter-spacing : 7.8rem;
  box-sizing     : border-box;
  font-size      : 0.7rem;
  font-weight    : bold;
  z-index        : 1;
}
#wrapping2 p{
  float       : none;
  position    : relative;
  top         : 0.7rem;
  left        : 5.7rem;
  width       : 8.5rem;
  display     : inline-flex;
  font-size   : 0.9rem;
  font-weight : bold;
  text-align  : center;
}

#rotation_button {
  border        : none;
  border-radius : 0.5rem;          /* 角丸       */
  font-size     : 1.2rem;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 1.5% 1.8%;   /* 余白       */
  background    : rgba(55, 0, 255);     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 100%;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  font-weight   : bold;
  letter-spacing: 0.4rem;
  width         : 45%;
  position      : relative;
  z-index       : 30;
  left          : 1rem;
  padding       : 3rem;
  top           : 22rem;
}

#register_btn {
  border        : none;
  border-radius : 0.5rem;          /* 角丸       */
  font-size     : 1.2rem;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 1.5% 1.8%;   /* 余白       */
  background    : rgba(55, 0, 255);     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 100%;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  font-weight   : bold;
  letter-spacing: 0.4rem;
  width         : 45%;
  position      : relative;
  z-index       : 30;
  left          : 3.5rem;
  padding       : 3rem;
  top           : 22rem;
}