#container{
  width           : 100%;
  margin-top      : 0.1rem;
  position        : relative;
}
.all{
  position        : absolute;
  height          : 100%;
  left            : 0.5rem;
}

/* ======================================================================================= */
 /* =================================経験年数選択画面===================================== */
/* ======================================================================================= */
#ex{
  position        : relative;
  top             : 3rem;
}

.check_box{
  width           : 3rem;
  height          : 3rem;
}

/* === 経験年数：決定ボタン ==================================== */
#button-check{
    display       : inline-block;
    border        : none;
    border-radius : 0.5rem;          /* 角丸       */
    font-size     : 1.5rem;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 1.5% 1.8%;   /* 余白       */
    background    : rgba(55, 0, 255, 0.89);     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    transition    : .3s;         /* なめらか変化 */ 
    font-weight   : bold;
    width         : 20%;
    position      : relative;
    top           : 6rem;
    box-shadow      : 0.1rem 0.1rem 0 0 rgba(0,0,0,0.5);
}
#button-check:active{
  background-color: rgb(75, 177, 245);
  -webkit-transform: translateY(0.05rem);
  transform: translateY(0.05rem);
  border-bottom: none;
}

/* === バックグランド ============================== */
.modalNoDisp {
    display       : none;
  }

.modalBg {
    position      : fixed;
    overflow      : hidden;
    top           : 0;
    right         : 0;
    bottom        : 0;
    left          : 0;
    background    : radial-gradient(circle at 50% 50%,
                                 rgba(0, 0, 0, 0.90),
                                 rgba(0, 0, 0, 0.70));
    z-index       : 10;
  }
  
/* === バックグランド：OPEN時のアニメーション ====== */
.modalBgOpen {
    animation     : bgOpenAnime 0.3s ease;
  }
  @keyframes bgOpenAnime {/* フェードイン */
     0% { opacity: 0 }
   100% { opacity: 1 }
  }
  
/* === モーダルウインドウ ==================================== */
.modalBg .modalWindow {
    position      : absolute;
    top           : 50%;
    left          : 50%;
    transform     : translate(-50%, -50%);
    z-index       : 11;
    width         : 45rem;
    min-height    : 25rem;
    background    : #fff;
    border-radius : 1rem;
    font-size     : 1.2rem;
    text-align    : center;
  }

/* === スライダー ==================================== */
input[type=range].slider {
  -webkit-appearance: none;
  width             : 100%;
  margin            : 0.7rem 0;
}

/* === スライダーバー ==================================== */
input[type=range].slider::-webkit-slider-runnable-track {
  width           : 100%;
  height          : 1rem;
  border          : 5rem;
  border-color    :black;
  cursor          : pointer;
  background      : #a6a6aa;
  border-radius   : 2rem;
  position        : relative;
  top             : 7.2rem;
  left            : -0.3rem;
  border          : 0.1rem solid;
}
/* === スライダーつまみ ==================================== */
input[type=range].slider::-webkit-slider-thumb {
  -webkit-appearance   : none;
  appearance           : none;
  cursor               : pointer;
  position             : relative;
  width                : 1.5rem;
  height               : 1.5rem;
  display              : block;
  background           : rgb(55, 0, 255);
  border-radius        : 50%;
  -webkit-border-radius: 50%;
  margin-top           : -0.33rem;
  z-index              : 30;
}
/* === スライダー目盛り ==================================== */
#wrap p{
  position        : relative;
  float           : none;
  height          : 1rem;
  width           : 100%;
  color           : rgb(255, 255, 255);
  top             : 5.57rem;
  left            : 3.3rem;
  letter-spacing  : 7.3rem;
  box-sizing      : border-box;
  font-size       : 0.7rem;
  font-weight     : bold;
  z-index         : 20;
}

/* === スライダーラベル ==================================== */
#wrapping p{
  float           : none;
  position        : relative;
  top             : 4.7rem;
  left            : 2.1rem;
  width           : 8rem;
  display         : inline-flex;
  font-size       : 0.9rem;
  font-weight     : bold;
  text-align      : center;
}


/* ======================================================================================= */
 /* ======================================キャンバス====================================== */
/* ======================================================================================= */
#canvas_warp {
  position        : relative;
  /* border: 0.1rem solid #ccc; */
  /* タブレットの場合 */
  width           : 28.5rem;
  height          : 28.5rem;
  /* PCの場合 */
  /* width:41rem;
  height:41rem; */
  max-width       : 100%;
  max-height      : 100%;
  top             : -0.5rem;
  margin          : auto;
  left            : 1.2rem;
}
/* #canvas_warp:before {
  content: "";
  display: block;
} */

#canvas2,
#canvas1,
#canvas3 {
  position        : absolute;
  left            : 0;
  top             : 0;
  border          : 0;
  max-width       : 100%;
  box-sizing      : content-box;
  padding         : 0;
  margin          : 0;
}

#canvas2 {
  z-index         : 0;
  background-image: url("../Picture/バレーコート背景.png");
  background-size : cover;
}

#canvas1 {
  z-index         : 1;
}

#canvas3 {
  z-index         : 2;
}

* {
  box-sizing      : border-box;
}


#inst{
  text-align      : center;
}

  /* 横に並べる */
.under_canvas_warp {
  display         : flex;
  position        : relative;
  justify-content : space-between;
  width           : 110%;
  left            : 1rem;
}

.under1{
  position: relative;
  width: 10rem;
  height: 10rem;
  margin: auto;
}

.under2 {
  position: relative;
  width: 10rem;
  height: 10rem;
  margin: auto;
}

.under3 {
  position: relative;
  width: 10rem;
  height: 10rem;
  margin: auto;
}

.under4 {
  position: relative;
  width: 10rem;
  height: 10rem;
  margin: auto;
}

.under5 {
  position: relative;
  width: 10rem;
  height: 10rem;
  margin: auto;
}

.under6 {
  position: relative;
  width: 10rem;
  height: 10rem;
  margin: auto;
}

#under_canvas1 {
  border          : 0;
  /* タブレットの場合 */
  width           : 80%;
  /* PCの場合 */
  /* width: 100%; */
  box-sizing      : content-box;
  padding         : 0;
  z-index: 2;
  }

#under_canvas1-2 {
  background-image: url("../Picture/バレーコート背景.png");
  background-size: 100%;
  width: 80%;
  z-index: 0;
}

#under_canvas1-3{
  width: 80%;
  z-index: 1;
}

#under_canvas1,
#under_canvas1-2,
#under_canvas1-3{
  position: absolute;
  left: 0;
  top: 0;
  border: 0;
  max-width: 80%;
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}

.col-10{
  border          : 0.1rem solid;
  border-color    : #cbcee4;
}

#under_canvas2 {
  border          : 0;
  /* タブレットの場合 */
  width           : 80%;
  /* PCの場合 */
  /* width: 100%; */
  box-sizing      : content-box;
  padding         : 0;
  z-index: 2;
}
#under_canvas2-2 {
  background-image: url("../Picture/バレーコート背景.png");
  background-size: 100%;
  width: 80%;
  z-index: 0;
}

#under_canvas2-3 {
  width: 80%;
  z-index: 1;
}

#under_canvas2,
#under_canvas2-2,
#under_canvas2-3 {
  position: absolute;
  left: 0;
  top: 0;
  border: 0;
  max-width: 80%;
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}

#under_canvas3 {
  border          : 0;
  /* タブレットの場合 */
  width           : 80%;
  /* PCの場合 */
  /* width: 100%; */
  box-sizing      : content-box;
  padding         : 0;
  z-index: 2;
}
#under_canvas3-2 {
  background-image: url("../Picture/バレーコート背景.png");
  background-size: 100%;
  width: 80%;
  z-index: 0;
}

#under_canvas3-3 {
  width: 80%;
  z-index: 1;
}

#under_canvas3,
#under_canvas3-2,
#under_canvas3-3 {
  position: absolute;
  left: 0;
  top: 0;
  border: 0;
  max-width: 80%;
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}

#under_canvas4 {
  border          : 0;
  /* タブレットの場合 */
  width           : 80%;
  /* PCの場合 */
  /* width: 100%; */
  box-sizing      : content-box;
  padding         : 0;
  z-index: 2;
}
#under_canvas4-2 {
  background-image: url("../Picture/バレーコート背景.png");
  background-size: 100%;
  width: 80%;
  z-index: 0;
}

#under_canvas4-3 {
  width: 80%;
  z-index: 1;
}

#under_canvas4,
#under_canvas4-2,
#under_canvas4-3 {
  position: absolute;
  left: 0;
  top: 0;
  border: 0;
  max-width: 80%;
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}

#under_canvas5 {
  border          : 0;
  /* タブレットの場合 */
  width           : 80%;
  /* PCの場合 */
  /* width: 100%; */
  box-sizing      : content-box;
  padding         : 0;
  z-index: 2;
}
#under_canvas5-2 {
  background-image: url("../Picture/バレーコート背景.png");
  background-size: 100%;
  width: 80%;
  z-index: 0;
}

#under_canvas5-3 {
  width: 80%;
  z-index: 1;
}

#under_canvas5,
#under_canvas5-2,
#under_canvas5-3 {
  position: absolute;
  left: 0;
  top: 0;
  border: 0;
  max-width: 80%;
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}


#under_canvas6 {
  border          : 0;
  /* タブレットの場合 */
  width           : 80%;
  /* PCの場合 */
  /* width: 100%; */
  box-sizing      : content-box;
  padding         : 0;
  z-index: 2;
}
#under_canvas6-2 {
  background-image: url("../Picture/バレーコート背景.png");
  background-size: 100%;
  width: 80%;
  z-index: 0;
}

#under_canvas6-3 {
  width: 80%;
  z-index: 1;
}

#under_canvas6,
#under_canvas6-2,
#under_canvas6-3 {
  position: absolute;
  left: 0;
  top: 0;
  border: 0;
  max-width: 80%;
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}

/* ================================================ */
/* ===================選手紹介文==================== */
/* ================================================ */
.face{
  position        : relative;
  width           : 100%;
}
#face_img{
  position        : absolute;
  width           : 6.5rem;
  left            : 2.5rem;
  top             : 3rem;
}
.bubble{
  position        : relative;
  width           : 100%;
}
.talk_bubble{
  position        : absolute;
  width           : 22.5rem;
  top             : 2.7rem;
  left            : 9.5rem;
}
#message{
  position        : absolute;
  font-size       : 0.9rem;
  top             : 3.5rem;
  left            : 12.8rem;  
}
b{
  font-size       : 1.1rem;
}
#attention{
  position        : absolute;
  font-size       : 1.2rem;
  font-weight     : bold;
  top             : 2rem;
  left            : 1.1rem;
}
#attention_2{
  position        : absolute;
  font-size       : 1.2rem;
  font-weight     : bold;
  top             : 2rem;
  left            : 0.5rem;
}

/* ================================================ */
/* ==============お見合い割合変化バー================ */
/* ================================================ */
.word{
  font-size       : 1.4rem;
  position        : absolute;
  top             : 0rem;
  left            : 5.9rem;
}

.bar_and_scale{
  position        : relative;
  left            : 4.2rem;
  top             : 12.1rem;
}

.Ob{
  position        : absolute;
  width           : 4rem;
  left            : -1.5rem;
}

.Sub{
  position        : absolute;
  width           : 4.5rem;
  left            : 22.7rem;
}

.per{
  position        : absolute;
  top             : 5.7rem;
}
.Ob_100{
  position        : absolute;
  left            : -1rem;
}

.SubOb_50{
  position        : absolute;
  left            : 11.8rem;
}

.Sub_100{
  position        : absolute;
  left            : 24.7rem;
}

.bar{
  position        : relative;
  top             : 3rem;
  left            : 2.7rem;
}


#subject_object {
  -webkit-appearance: none;
  appearance        : none;
  cursor            : pointer;
  outline           : none;
  height            : 14px;
  background        : #a6a6aa;
  border-radius     : 10px;
  border            : solid 0.08rem;
  border-color      : rgb(133, 129, 133);
  z-index           :10;
}
::-webkit-slider-thumb {
  -webkit-appearance: none;
  background        : rgb(55, 0, 255);
  width             : 1.5rem;
  height            : 1.5rem;
  border-radius     : 50%;
  z-index           : 30;
}
#change_bar{
  text-align      : center;
}
#wrap2 p{
  position        : relative;
  float           : none;
  height          : 1rem;
  width           : 100%;
  color           : rgb(255, 255, 255);
  top             : 1.34rem;
  left            : 15.5rem;
  letter-spacing  : 7.8rem;
  box-sizing      : border-box;
  font-size       : 0.7rem;
  font-weight     : bold;
  z-index         : 1;
}
#wrapping2 p{
  float           : none;
  position        : relative;
  top             : 1rem;
  left            : 4.9rem;
  width           : 9rem;
  display         : inline-flex;
  font-size       : 0.9rem;
  font-weight     : bold;
  text-align      : center;
}

/* ================================================ */
/* ====================ボタン類==================== */
/* ================================================ */
.rotation{
  width           : 3rem;
  height          : 3rem;
}
.collect{
  width           : 3rem;
  height          : 3rem;
}
.buttons{
  position        : relative;
  top             : 22rem;
  left            : 1rem;
}
#rota0{
  border: none;
  cursor: pointer;/* カーソル   */
  background: #00000000; /* 背景色     */
  color: #00000000;/* 文字色     */
  line-height: 100%;/* 1行の高さ  */
  font-weight: bold;
  letter-spacing: 0.4rem;
  width: 10rem;
  height: 10rem;
  width: 80%;
  height: 80%;
  z-index: 30;
  padding: 1rem;
  position: absolute;
}
#rota1{
  border: none;
  cursor: pointer; /* カーソル   */
  background: #00000000; /* 背景色     */
  color: #00000000; /* 文字色     */
  line-height: 100%; /* 1行の高さ  */
  font-weight: bold;
  letter-spacing: 0.4rem;
  width: 10rem;
  height: 10rem;
  width: 100%;
  height: 100%;
  z-index: 30;
  padding: 1rem;
  position: absolute;
}#rota2 {
  border: none;
  cursor: pointer; /* カーソル   */
  background: #00000000; /* 背景色     */
  color: #00000000; /* 文字色     */
  line-height: 100%; /* 1行の高さ  */
  font-weight: bold;
  letter-spacing: 0.4rem;
  width: 10rem;
  height: 10rem;
  width: 100%;
  height: 100%;
  z-index: 30;
  padding: 1rem;
  position: absolute;
}#rota3{
  border: none;
  cursor: pointer;  /* カーソル   */
  background: #00000000; /* 背景色     */
  color: #00000000; /* 文字色     */
  line-height: 100%; /* 1行の高さ  */
  font-weight: bold;
  letter-spacing: 0.4rem;
  width: 10rem;
  height: 10rem;
  width: 100%;
  height: 100%;
  z-index: 30;
  padding: 1rem;
  position: absolute;
}#rota4{
  border: none;
  cursor: pointer; /* カーソル   */
  background: #00000000; /* 背景色     */
  color: #00000000; /* 文字色     */
  line-height: 100%; /* 1行の高さ  */
  font-weight: bold;
  letter-spacing: 0.4rem;
  width: 10rem;
  height: 10rem;
  width: 100%;
  height: 100%;
  z-index: 30;
  padding: 1rem;
  position: absolute;
}#rota5{
  border: none;
  cursor: pointer; /* カーソル   */
  background: #00000000; /* 背景色     */
  color: #00000000; /* 文字色     */
  line-height: 100%; /* 1行の高さ  */
  font-weight: bold;
  letter-spacing: 0.4rem;
  width: 10rem;
  height: 10rem;
  width: 100%;
  height: 100%;
  z-index: 30;
  padding: 1rem;
  position: absolute;
}
#rotation_button {
  border          : none;
  border-radius   : 0.5rem;          /* 角丸       */
  font-size       : 1.2rem;        /* 文字サイズ */
  text-align      : center;      /* 文字位置   */
  cursor          : pointer;     /* カーソル   */
  padding         : 1.5% 1.8%;   /* 余白       */
  background      : rgba(55, 0, 255);     /* 背景色     */
  color           : #ffffff;     /* 文字色     */
  line-height     : 100%;         /* 1行の高さ  */
  transition      : .3s;         /* なめらか変化 */
  font-weight     : bold;
  letter-spacing  : 0.4rem;
  width           : 40%;
  max-width       : 17rem;
  z-index         : 30;
  padding         : 1rem;
  position        : absolute;
  left            : 1rem;
  box-shadow      : 0.15rem 0.15rem 0 0 rgba(0,0,0,0.5);
}
#register_btn {
  border          : none;
  border-radius   : 0.5rem;          /* 角丸       */
  font-size       : 1.2rem;        /* 文字サイズ */
  text-align      : center;      /* 文字位置   */
  cursor          : pointer;     /* カーソル   */
  padding         : 1.5% 1.8%;   /* 余白       */
  background      : rgba(55, 0, 255);     /* 背景色     */
  color           : #ffffff;     /* 文字色     */
  line-height     : 100%;         /* 1行の高さ  */
  transition      : .3s;         /* なめらか変化 */
  font-weight     : bold;
  letter-spacing  : 0.4rem;
  width           : 40%;
  max-width       : 17rem;
  z-index         : 30;
  padding         : 1rem;
  position        : absolute;
  right           : -1.5rem;
  box-shadow      : 0.15rem 0.15rem 0 0 rgba(0,0,0,0.5);
}
#rotation_button:active{
  background-color: rgb(75, 177, 245);
  -webkit-transform: translateY(0.1rem);
  transform: translateY(0.1rem);
  border-bottom: none;
}
#register_btn:active{
  background-color: rgb(75, 177, 245);
  -webkit-transform: translateY(0.05rem);
  transform: translateY(0.05rem);
  border-bottom: none;
}

/* ================================================ */
/* ==================チュートリアル================== */
/* ================================================ */
#tutorial{
  position        : absolute;
  z-index         : 20;
  top             : 0.3rem;
  right           : -6.5rem;
}
.question_circle{
  fill: rgba(55, 0, 255, 1);
  width           : 15%;
  opacity         : 0.92;
  filter          : drop-shadow(0.05rem 0.05rem 0 rgba(0,0,0,0.6));
  height          : 2.5rem;
  width           : 2.5rem;
  -webkit-text-stroke: 2rem #000;
}
.question_circle:hover{
	cursor          : pointer;
  transition      : 0.3s;
}
.question_circle:active{
	position        : relative;
  fill            : rgb(75, 177, 245,0.92);
	top             : 0.05rem;
  transition      : 0.2s;
} 
.open {
	cursor          : pointer; /* マウスオーバーでカーソルの形状を変えることで、クリックできる要素だとわかりやすいように */
}
#pop-up {
	display         : none; /* label でコントロールするので input は非表示に */
}
.overlay {
	display         : none; /* input にチェックが入るまでは非表示に */
}
#pop-up:checked + .overlay {
	display         : block;
	z-index         : 9999;
	background-color: #00000070;
	position        : fixed;
	width           : 100%;
	height          : 100%;
	top             : 0;
	left            : 0;
}
.window {
	width           : 40rem;
	max-width       : 40rem;
	height          : 30rem;
	background-color: #ffffff;
	border-radius   : 1rem;
	display         : flex;
	justify-content : center;
	align-items     : center;
	position        : fixed;
	top             : 50%;
	left            : 50%;
	transform       : translate(-50%, -50%);
}
.text {
	font-size       : 2rem;
	margin          : 0;
}
.close {
	cursor          : pointer;
	position        : absolute;
	top             : 1rem;
	right           : 1rem;
	font-size       : 1rem;
}