#container{
  margin  : 0 auto;
  width   : 100%;
  height  : 20rem;
  display : relative;
}
/* ======================================================================================= */
 /* =================================経験年数選択画面===================================== */
/* ======================================================================================= */
/* === 文字「経験年数選択バー」 ==================================== */
#ex_question{
  position    : relative;
  top         : 3rem;
  font-size   : 1.2rem;
  font-weight : bold;
}

/* === 経験年数：決定ボタンに表示されるチェックマーク ==================================== */
#icon-check{
    color            : rgb(255, 255, 255);
    position         : absolute;
    margin-left      : -3.5rem;
    margin-top       : 2.1rem;
    width            : 1.7rem;
    height           : 0.7rem;
    border-bottom    : solid 0.3rem currentColor;
    border-left      : solid 0.3rem currentColor;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

/* === 経験年数：決定ボタン ==================================== */
#button-check{
    display       : inline-block;
    border        : none;
    border-radius : 0.5rem;          /* 角丸       */
    font-size     : 1.5rem;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 1.5% 1.8%;   /* 余白       */
    background    : rgba(55, 0, 255, 0.89);     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    transition    : .3s;         /* なめらか変化 */ 
    font-weight   : bold;
    width         : 20%;
}

/* === バックグランド ============================== */
.modalNoDisp {
    display : none;
  }

.modalBg {
    position   : fixed;
    overflow   : hidden;
    top        : 0;
    right      : 0;
    bottom     : 0;
    left       : 0;
    background : radial-gradient(circle at 50% 50%,
                                 rgba(0, 0, 0, 0.90),
                                 rgba(0, 0, 0, 0.70));
    z-index    : 10;
  }
  
/* === バックグランド：OPEN時のアニメーション ====== */
.modalBgOpen {
    animation  : bgOpenAnime 0.3s ease;
  }
  @keyframes bgOpenAnime {/* フェードイン */
     0% { opacity: 0 }
   100% { opacity: 1 }
  }
  
/* === モーダルウインドウ ==================================== */
.modalBg .modalWindow {
    position      : absolute;
    top           : 50%;
    left          : 50%;
    transform     : translate(-50%, -50%);
    z-index       : 11;
    width         : 45rem;
    min-height    : 25rem;
    background    : #fff;
    border-radius : 1rem;
    font-size     : 1.2rem;
    text-align    : center;
  }

/* === スライダー ==================================== */
input[type=range].slider {
  -webkit-appearance: none;
  width             : 100%;
  margin            : 0.7px 0;
}

/* === スライダーバー ==================================== */
input[type=range].slider::-webkit-slider-runnable-track {
  width         : 100%;
  height        : 1rem;
  border        : 5rem;
  border-color  :black;
  cursor        : pointer;
  background    : #a6a6aa;
  border-radius : 2rem;
  position      : relative;
  top           : 1.5rem;
  left          : -0.3rem;
  border        : 0.1rem solid;
}
/* === スライダーつまみ ==================================== */
input[type=range].slider::-webkit-slider-thumb {
  -webkit-appearance   : none;
  appearance           : none;
  cursor               : pointer;
  position             : relative;
  width                : 1.5rem;
  height               : 1.5rem;
  display              : block;
  background           : rgb(55, 0, 255);
  border-radius        : 50%;
  -webkit-border-radius: 50%;
  margin-top           : -0.33rem;
  z-index              : 30;
}
/* === スライダー目盛り ==================================== */
#wrap p{
  position       : relative;
  float          : none;
  height         : 1rem;
  width          : 100%;
  color          : rgb(250, 250, 250);
  top            : -1.05rem;
  left           : 3.2rem;
  letter-spacing : 7rem;
  box-sizing     : border-box;
  font-size      : 0.9rem;
  font-weight    : bold;
  z-index        : 20;
}

/* === スライダーラベル ==================================== */
#wrapping p{
  float       : none;
  position    : relative;
  top         : -2.2rem;
  left        : 2rem;
  width       : 8rem;
  display     : inline-flex;
  font-size   : 0.9rem;
  font-weight : bold;
  text-align  : center;
}


/* ======================================================================================= */
 /* ======================================キャンバス====================================== */
/* ======================================================================================= */
#canvas_warp {
  position: relative;
  border: 1px solid #ccc;
  width: 500px;
  height: 500px;
  max-width: 100%;
}

#canvas_warp:before {
  content: "";
  display: block;
  padding-top: 58%;
}

#canvas2,
#canvas1,
#canvas3 {
  position: absolute;
  left: 0;
  top: 0;
  border: 0;
  max-width: 100%;
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}

#canvas2 {
  z-index: 0;
  background-image: url("../Picture/バレーコート背景.png");
  background-size: cover;
}

#canvas1 {
  z-index: 1;
}

#canvas3 {
  z-index: 2;
}

* {
  box-sizing: border-box;
}

.under_canvas_warp {
  /* 横に並べる */
  display: flex;
  /* margin-top: %; */
  position: relative;
  border: 1px solid #ccc;
  width: 120px;
  height: 120px;
  top: 20px;
  max-width: 100%;
}

#under_canvas {
  left: 0;
  top: 700px;
  border: 0;
  max-width: 100%;
  box-sizing: content-box;
  padding: 0;
  /* 上　右　下　左 */
  margin: 0 20px 0 0;
  background-image: url("../Picture/バレーコート背景.png");
  background-size: 100%;
}


/* #under_canvas,
#under_canvas1 {
  position: absolute;
  left: 0;
  top: 0;
  border: 0;
  max-width: 100%;
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}

#under_canvas {
  z-index: 0;
  background-image: url("../Picture/バレーコート背景.png");
  background-size: 100%;
}

#under_canvas {
  z-index: 1;
} */

#under_canvas2 {
  left: 140px;
  top: 700px;
  border: 0;
  max-width: 100%;
  box-sizing: content-box;
  padding: 0;
  margin: 0 20px 0 0;
  background-image: url("../Picture/バレーコート背景.png");
  background-size: 100%;
}

#under_canvas3 {
  left: 280px;
  top: 700px;
  border: 0;
  max-width: 100%;
  box-sizing: content-box;
  padding: 0;
  margin: 0 20px 0 0;
  background-image: url("../Picture/バレーコート背景.png");
  background-size: 100%;
}

#under_canvas4 {
  left: 280px;
  top: 700px;
  border: 0;
  max-width: 100%;
  box-sizing: content-box;
  padding: 0;
  margin: 0 20px 0 0;
  background-image: url("../Picture/バレーコート背景.png");
  background-size: 100%;
}

#under_canvas5 {
  left: 280px;
  top: 700px;
  border: 0;
  max-width: 100%;
  box-sizing: content-box;
  padding: 0;
  margin: 0 20px 0 0;
  background-image: url("../Picture/バレーコート背景.png");
  background-size: 100%;
}

#under_canvas6 {
  left: 280px;
  top: 700px;
  border: 0;
  max-width: 100%;
  box-sizing: content-box;
  padding: 0;
  margin: 0 20px 0 0;
  background-image: url("../Picture/バレーコート背景.png");
  background-size: 100%;
}

#subject_object {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  height: 14px;
  width: 20%;
  background: #a6a6aa;
  border-radius: 10px;
  border: solid 0.08rem black;
  position: absolute;
  right: 200px;
  top: 150px;
}
::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: rgb(55, 0, 255);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

#rotation_button {
  border-radius: 10px;
  background-color: #7c00ba;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  position: absolute;
  right: 250px;
  top: 250px;
}

#register_btn {
  border-radius: 10px;
  background-color: #7c00ba;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  position: absolute;
  right: 100px;
  top: 250px;
}