#container {
  margin: 0 auto;
  width: 100%;
  position: relative;
}

#back_cover {
  background-color: rgb(15, 15, 17);
}

/* ======================================================================================= */
/* =================================経験年数選択画面===================================== */
/* ======================================================================================= */
#ex {
  position: relative;
  top: 3rem;
}

.check_box {
  width: 3rem;
  height: 3rem;
}

/* === 経験年数：決定ボタン ==================================== */
#button-check {
  display: inline-block;
  border: none;
  border-radius: 0.5rem;
  /* 角丸       */
  font-size: 1.5rem;
  /* 文字サイズ */
  text-align: center;
  /* 文字位置   */
  cursor: pointer;
  /* カーソル   */
  padding: 1.5% 1.8%;
  /* 余白       */
  background: rgba(55, 0, 255, 0.89);
  /* 背景色     */
  color: #ffffff;
  /* 文字色     */
  line-height: 1em;
  /* 1行の高さ  */
  transition: .3s;
  /* なめらか変化 */
  font-weight: bold;
  width: 20%;
  position: relative;
  top: 7.5rem;
  box-shadow: 0.1rem 0.1rem 0 0 rgba(0, 0, 0, 0.5);
}

#button-check:active {
  background-color: rgb(75, 177, 245);
  -webkit-transform: translateY(0.1rem);
  transform: translateY(0.1rem);
  border-bottom: none;
}

/* === バックグランド ============================== */
.modalNoDisp {
  display: none;
}

.modalBg {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(circle at 50% 50%,
      rgba(0, 0, 0, 0.90),
      rgba(0, 0, 0, 0.70));
  z-index: 10;
}

/* === バックグランド：OPEN時のアニメーション ====== */
.modalBgOpen {
  animation: bgOpenAnime 0.3s ease;
}

@keyframes bgOpenAnime {

  /* フェードイン */
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

/* === モーダルウインドウ ==================================== */
.modalBg .modalWindow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
  width: 45rem;
  min-height: 25rem;
  background: #fff;
  border-radius: 1rem;
  font-size: 1.2rem;
  text-align: center;
}

/* === スライダー ==================================== */
input[type=range].slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 0.7rem 0;
}

/* === スライダーバー ==================================== */
input[type=range].slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 1rem;
  border: 5rem;
  border-color: black;
  cursor: pointer;
  background: #a6a6aa;
  border-radius: 2rem;
  position: relative;
  top: 7.2rem;
  left: -0.3rem;
  border: 0.1rem solid;
}

/* === スライダーつまみ ==================================== */
input[type=range].slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  background: rgb(55, 0, 255);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  margin-top: -0.33rem;
  z-index: 30;
}

/* === スライダーラベル ==================================== */
#wrapping p {
  float: none;
  position: relative;
  top: 7rem;
  left: 2.1rem;
  width: 8rem;
  display: inline-flex;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
}

/* ======================================================================================= */
/* =====================================動画閲覧========================================= */
/* ======================================================================================= */
#video_button {
  margin: 0 auto;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#video_window {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

#tutorial {
  position: absolute;
  z-index: 20;
  top: 0.5rem;
  right: 0.5rem;
}

.question_circle {
  fill: rgba(55, 0, 255, 1);
  width: 15%;
  opacity: 0.92;
  filter: drop-shadow(0.05rem 0.05rem 0 rgba(0, 0, 0, 0.6));
  height: 2.5rem;
  width: 2.5rem;
  -webkit-text-stroke: 2rem #000;
}

.question_circle:hover {
  cursor: pointer;
  transition: 0.3s;
}

.question_circle:active {
  position: relative;
  fill: rgb(75, 177, 245, 0.92);
  top: 0.05rem;
  transition: 0.2s;
}

video#mv {
  min-width: 100%;
  min-height: 100vh;
  height: 100%;
  position: absolute;
  z-index: 10;
}

/*画面サイズが変わっても常に動画の中央が表示されるようにする*/
/*動画よりも画面が横に長くなるとき用*/
@media (aspect-ratio: 16/9),
(min-aspect-ratio: 16/9) {
  video {
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
}

/*動画よりも画面が縦に長くなるとき用*/
@media (max-aspect-ratio: 16/9) {
  video {
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}

/* === 左右選択ボタン ==================================== */
.button-wrap {
  position: absolute;
}

.button-1 {
  border: none;
  border-radius: 0.5rem;
  /* 角丸       */
  font-size: 300%;
  /* 文字サイズ */
  text-align: center;
  /* 文字位置   */
  cursor: pointer;
  /* カーソル   */
  padding: 1.5% 1.8%;
  /* 余白       */
  background: rgba(55, 0, 255, 0.92);
  /* 背景色     */
  color: #ffffff;
  /* 文字色     */
  line-height: 100%;
  /* 1行の高さ  */
  transition: .3s;
  /* なめらか変化 */
  font-weight: bold;
  letter-spacing: 0.4rem;
  width: 18%;
  position: fixed;
  z-index: 30;
  bottom: 8%;
  left: 20%;
  box-shadow: 0.15rem 0.15rem 0 0 rgba(0, 0, 0, 0.5);
}

.button-2 {
  border: none;
  border-radius: 0.5rem;
  /* 角丸       */
  font-size: 300%;
  /* 文字サイズ */
  text-align: center;
  /* 文字位置   */
  cursor: pointer;
  /* カーソル   */
  padding: 1.5% 1.8%;
  /* 余白       */
  background: rgba(55, 0, 255, 0.92);
  /* 背景色     */
  color: #ffffff;
  /* 文字色     */
  line-height: 100%;
  /* 1行の高さ  */
  transition: .3s;
  /* なめらか変化 */
  font-weight: bold;
  letter-spacing: 0.4rem;
  width: 18%;
  position: fixed;
  z-index: 30;
  bottom: 8%;
  right: 20%;
  box-shadow: 0.15rem 0.15rem 0 0 rgba(0, 0, 0, 0.5);
}

.button-1:active {
  background-color: rgb(75, 177, 245);
  -webkit-transform: translateY(0.1rem);
  transform: translateY(0.1rem);
  border-bottom: none;
}

.button-2:active {
  background-color: rgb(75, 177, 245);
  -webkit-transform: translateY(0.1rem);
  transform: translateY(0.1rem);
  border-bottom: none;
}

.left_arrow {
  position: relative;
  width: 40%;
  top: -0.25rem;
}

.right_arrow {
  position: relative;
  width: 40%;
  top: -0.25rem;
}

.answer_c {
  position: absolute;
  z-index: 30;
  top: 0.8rem;
  left: 0.7rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  -webkit-text-stroke: 0.03rem rgba(11, 14, 104, 0.7);
  animation-name: fadeInAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeInAnime {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* ======================================================================================= */
/* =====================================終了画面========================================= */
/* ======================================================================================= */
#end {
  position: absolute;
  height: 100%;
  top: 10rem;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  font-size: 1.2rem;
  text-align: center;
  z-index: 40;
}

#end p {
  position: relative;
  font-size: 3rem;
  font-weight: bold;
  left: 0.3rem;
}

.rtn {
  position: relative;
  border: none;
  border-radius: 0.5rem;
  /* 角丸       */
  font-size: 2rem;
  /* 文字サイズ */
  text-align: center;
  /* 文字位置   */
  cursor: pointer;
  /* カーソル   */
  padding: 1.5% 1.8%;
  /* 余白       */
  background: rgba(55, 0, 255, 0.90);
  /* 背景色     */
  color: #ffffff;
  /* 文字色     */
  line-height: 1.5em;
  /* 1行の高さ  */
  transition: .3s;
  /* なめらか変化 */
  font-weight: bold;
  letter-spacing: 0.4rem;
  width: 25rem;
  box-shadow: 0.15rem 0.15rem 0 0 rgba(0, 0, 0, 0.5);
}

.rtn:active {
  background-color: rgb(75, 177, 245);
  -webkit-transform: translateY(0.1rem);
  transform: translateY(0.1rem);
  border-bottom: none;
}

.open {
  cursor: pointer;
  /* マウスオーバーでカーソルの形状を変えることで、クリックできる要素だとわかりやすいように */
}

#pop-up {
  display: none;
  /* label でコントロールするので input は非表示に */
}

.overlay {
  display: none;
  /* input にチェックが入るまでは非表示に */
}

#pop-up:checked+.overlay {
  display: block;
  z-index: 1000;
  background-color: #00000070;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.window {
  width: 40.8rem;
  height: 30rem;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text {
  font-size: 2rem;
  margin: 0;
}

.close {
  cursor: pointer;
  position: absolute;
  text-align: center;
  padding: 0.9rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: rgba(228, 224, 224, 0.7);
  top: 0.06rem;
  right: 0rem;
  font-size: 1.1rem;
  z-index: 1010;
  border-radius: 0.1rem 0.1rem 0rem 0rem;
}

.tutorial_movie {
  position: absolute;
  width: 40.8rem;
  height: 23rem;
  z-index: 1005;
}